* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
}

header {
  width: 100vw;
  height: 75px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}

header > * {
  margin: 25px;
}

main {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 200px;
  border: solid black 1px;
  border-radius: 15px;
  margin: 25px;
  padding: 5px;
}

.card-bottom {
  padding-bottom: 25px;
}